body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  background: linear-gradient(45deg, #696969 35%, rgba(0, 0, 0, 70%));
  overflow-x: hidden;
}

/* Nav */

#navbar {
  background-color: #ff6347;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.profile-link {
  font-size: 1.875rem;
  font-weight: bold;
  padding: 0.625rem;
  text-decoration: none;
  color: black;
}

.profile-link:hover {
  text-decoration: underline black;
}

/* About */

#welcome-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.welcome-title,
.welcome-subtitle {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 40%);
}

.welcome-title {
  margin: 0;
  font-size: 3.125rem;
  font-style: bold;
}

.welcome-subtitle {
  font-size: 1.875rem;
  font-weight: bold;
  color: #ff6347;
  margin-bottom: 0;
}

.welcome-description {
  max-width: 31.25rem;
  text-align: center;
}

.welcome-description p {
  font-size: 1.1875rem;
}

/* Projects */

.projects {
  margin: 6.25rem 0px;
}
.projects__title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 40%);
}

.projects__row {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project-tile {
  background-color: #708090;
  position: relative;
  border: 3px solid black;
  margin-top: 1.25rem;
  width: 21.875rem;
  height: 21.875rem;
}

.project__image {
  width: inherit;
  height: inherit;
}

.project-title h3 {
  margin: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #ff6347;
  font-size: 1.5625rem;
}

.project-link {
  text-decoration: none;
  color: black;
}

.projects__button {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.5625rem;
  width: 9.6875rem;
  position: relative;
  border: none;
  background-color: black;
}

.button::before {
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  top: 0.3125rem;
  right: 0.625rem;
  border: 3px solid;
  border-color: #ff6347 #ff6347 transparent transparent;
  transform: rotate(45deg);
  transition: right 0.3s ease-in;
}

.button:hover::before {
  right: 2%;
}

.button a {
  text-decoration: none;
  margin-right: 0.3125rem;
  color: #ff6347;
}

/* Contact */

#contacts {
  width: 100%;
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "contacts-title contacts-title contacts-title contacts-title"
    "contact-item-1 contact-item-2 contact-item-3 contact-item-4";
}

.contact-item {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.contacts-title {
  grid-area: contacts-title;
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 40%);
}

.contact-item.one {
  grid-area: contact-item-1;
}

.contact-item.two {
  grid-area: contact-item-2;
}

.contact-item.three {
  grid-area: contact-item-3;
}

.contact-item.four {
  grid-area: contact-item-4;
}

.contact-info {
  position: absolute;
  left: 20%;
  top: 35%;
}

.contact-info i {
  font-size: 1.875rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 40%);
  color: #ff6347;
}

.contact-info:hover {
  transform: translate(0px, 10px);
  transition: 0.2s;
}

#profile-link {
  text-decoration: none;
  color: black;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 40%);
  font-size: 1.5625rem;
}

/* Footer */

.portfolio-footer {
  width: 100%;
  height: 10vh;
  border-top: 5px solid #ff6347;
}

.footer-text {
  text-align: center;
  font-size: 2.1875rem;
  margin: 0;
  padding: 10px;
}

.footer-text a {
  text-decoration: none;
  color: black;
}

/* Media */

@media (max-width: 48rem) {
  #navbar {
    justify-content: center;
  }
  .welcome-title {
    font-size: 2.1875rem;
  }

  .welcome-subtitle {
    font-size: 1.5625rem;
  }
  .contacts-title h2 {
    font-size: 1.5625rem;
    margin-bottom: 0;
  }

  .contact-info i,
  #profile-link {
    font-size: 1.0625rem;
  }

  .project-title h3 {
    font-size: 1.25rem;
  }

  .footer-text {
    font-size: 1.25rem;
  }
}
